In [1]:
x = 1
y = 2
x+y

3

In [5]:
x

1

In [8]:
def add_numbers(x, y):
    return x+y
add_numbers(1, 2)

3

In [12]:
#1. return 타입, 2. 리턴 선언을 설정할 필요가 없음. -> none 이 있기 때문 3. default설정
def add_numbers(x, y, z=None):
    if(z==None):
        return x+y
    else:
        return x+y+z
    
print(add_numbers(1, 2))
print(add_numbers(1, 2, 3))

3
6

In [15]:
def add_numbers(a, b, c="hi"):
    return c


add_numbers(1, 2, "hello")

'hello'

In [17]:
#tuple, list, dictionary
x = (1, 'a', 2, 'b')
type(x)

tuple

In [18]:
x=(2, 3, 4, 5)

In [20]:
x=[1, 'a', 2, 'b']

In [21]:
x

[1, 'a', 2, 'b']

In [22]:
x.append(3.3)

In [23]:
x

[1, 'a', 2, 'b', 3.3]

In [26]:
for item in x:
    print(item)
    
x

1
a
2
b
3.3

[1, 'a', 2, 'b', 3.3]

In [28]:

i=0
while(i != len(x)):
    print(x[i])
    i=i+1

1
a
2
b
3.3

In [29]:
i in [1, 2, 3]

False

In [30]:
type('This is string')

str

In [31]:
type(None)

NoneType

In [32]:
type(1)

int

In [33]:
type(1.0)

float

In [34]:
type(add_numbers)

function

In [35]:
type(add_numbers)

function

In [37]:
x=(1, 'a', 2, 'b')
type(x)

tuple

In [38]:
x=[1, 'a', 2, 'b']
type(x)

list

In [39]:
x.append(3.3)

In [40]:
for item in x:
    print(item)

1
a
2
b
3.3

In [41]:
[1, 2]+[3, 4]

[1, 2, 3, 4]

In [42]:
[1]*3

[1, 1, 1]

In [43]:
1 in [1, 2, 3]

True

In [46]:
x= 'This is a string'
print(x[0])
print(x[0:1])
print(x[0:2])

T
T
Th

In [86]:
x[-1]
x

('Christopher', 'Brooks', 'brooksch@umich.edu')

In [84]:
x[-4: -2]

('Christopher',)

In [87]:
x[:3]

('Christopher', 'Brooks', 'brooksch@umich.edu')

In [89]:
firstname='Sanghyuk'
lastname= 'Son'
print(firstname+' '+lastname)
print(firstname*3)
print('Sang' in firstname)

Sanghyuk Son
SanghyukSanghyukSanghyuk
True

In [90]:
firstname = 'Sanghyuk Yegeong'.split(' ')
firstname
lastname='Sanghyuk Yegeong'.split(' ')[0]
lastname

'Sanghyuk'

In [91]:
'Sanghyuk'+str(2)
x

('Christopher', 'Brooks', 'brooksch@umich.edu')

In [94]:
x = {'Christopher Brooks': 'brooksch@umich.edu', 'Bill Gates': 'billg@microsoft.com'}
x['Christopher Brooks']

'brooksch@umich.edu'

In [95]:
x['Kevyn Collins-Thompson']=None
x['Kevyn Collins-Thompson']
x

{'Bill Gates': 'billg@microsoft.com',
 'Christopher Brooks': 'brooksch@umich.edu',
 'Kevyn Collins-Thompson': None}

In [96]:
for name in x:
    print(x[name])

brooksch@umich.edu
billg@microsoft.com
None

In [97]:
for email in x.values():
    print(email)

brooksch@umich.edu
billg@microsoft.com
None

In [98]:
for name, email in x.items():
    print(name)
    print(email)

Christopher Brooks
brooksch@umich.edu
Bill Gates
billg@microsoft.com
Kevyn Collins-Thompson
None

In [99]:
x = ('Christopher', 'Brooks', 'brooksch@umich.edu')
fname, lname, email = x

In [101]:
x=('a', 'b', 'c' )
hi, bye, hello = x

In [102]:
hi

'a'

In [105]:
#More On Strings
#print('Chris'+2)
print('Chris'+'2')

Chris2

In [108]:
sales_record={
    'price': 3.24, 
    'num_items': 4,
    'person': 'Chris'
}

sales_statement='{} bought {} items(s) at a price of {} each for a total of {}'

In [110]:
sales_statement.format(sales_record['person'],
                      sales_record['num_items'],
                      sales_record['price'],
                      sales_record['num_items']*sales_record['price'])

'Chris bought 4 items(s) at a price of 3.24 each for a total of 12.96'

In [119]:
import csv 
%precision 2
with open('mpg.csv') as csvfile:
    mpg=list(csv.DictReader(csvfile))

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x86 in position 14: invalid start byte

In [124]:
import datetime as dt
import time as tm

In [125]:
tm.time()

1525448003.22

In [134]:
dtnow = dt.datetime.fromtimestamp(tm.time())

In [135]:
dtnow

datetime.datetime(2018, 5, 5, 0, 35, 44, 65512)

In [129]:
delta = dt.timedelta(days = 100) # create a timedelta of 100 days
delta

datetime.timedelta(100)

In [130]:
today = dt.date.today()

In [131]:
today

datetime.date(2018, 5, 5)

In [132]:
today-delta

datetime.date(2018, 1, 25)

In [133]:
today > today-delta # compare dates

True

In [137]:
class Person:
    department = 'School of Information' #a class variable

    def set_name(self, new_name): #a method
        self.name = new_name
    def set_location(self, new_location):
        self.location = new_location

In [144]:
person = Person()
person.set_name('Christoper Brooks')
person.set_location('Incheon')
person.location

'Incheon'

In [147]:
store1=[10.00, 11.00, 12.34, 2.34]
store2=[9.00, 11.10, 12.34, 2.01]
cheapest = map(min, store1, store2)

1

In [149]:
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

In [155]:
person = 'Dr. Christopher Brooks'
title= person.split()[0]
lastname = person.split()[-1]

In [1]:
def split_title_and_name(person):
    title = person.split()[0]
    lastname = person.split()[-1]
    return '{} {}'.format(title, lastname)

list(map(split_title_and_name, people))

NameError: name 'people' is not defined

In [2]:
my_function = lambda a, b, c : a+b

In [3]:
my_function(1, 3, 5)

4

In [5]:
my_list=[]
for number in range(0, 1000):
    if number % 2 == 0:
        my_list.append(number)
     
my_list

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498,
 500,
 502,
 504,
 506,
 508,
 510,
 512,
 514,
 516,
 518,
 520,
 522,
 524,
 526,
 528,
 530,
 532,
 534,
 536,
 538,
 540,
 542,
 544,
 546,
 548,
 550,
 552,
 554,
 556,
 558,
 560,
 562,
 564,
 566,
 568,
 570,
 572,
 574,
 576,
 578,
 580,
 582,
 584,
 586,
 588,
 590,
 592,
 594,
 596,
 598,
 600,
 602,
 604,
 606,
 608,
 610,
 612,
 614,
 616,
 618,
 620,
 622,
 624,
 626,
 628,
 630,
 632,
 634,
 636,
 638,
 640,
 642,
 644,
 646,
 648,
 650,
 652,
 654,
 656,
 658,
 660,
 662,
 664,
 666,
 668,
 670,
 672,
 674,
 676,
 678,
 680,
 682,
 684,
 686,
 688,
 690,
 692,
 694,
 696,
 698,
 700,
 702,
 704,
 706,
 708,
 710,
 712,
 714,
 716,
 718,
 720,
 722,
 724,
 726,
 728,
 730,
 732,
 734,
 736,
 738,
 740,
 742,
 744,
 746,
 748,
 750,
 752,
 754,
 756,
 758,
 760,
 762,
 764,
 766,
 768,
 770,
 772,
 774,
 776,
 778,
 780,
 782,
 784,
 786,
 788,
 790,
 792,
 794,
 796,
 798,
 800,
 802,
 804,
 806,
 808,
 810,
 812,
 814,
 816,
 818,
 820,
 822,
 824,
 826,
 828,
 830,
 832,
 834,
 836,
 838,
 840,
 842,
 844,
 846,
 848,
 850,
 852,
 854,
 856,
 858,
 860,
 862,
 864,
 866,
 868,
 870,
 872,
 874,
 876,
 878,
 880,
 882,
 884,
 886,
 888,
 890,
 892,
 894,
 896,
 898,
 900,
 902,
 904,
 906,
 908,
 910,
 912,
 914,
 916,
 918,
 920,
 922,
 924,
 926,
 928,
 930,
 932,
 934,
 936,
 938,
 940,
 942,
 944,
 946,
 948,
 950,
 952,
 954,
 956,
 958,
 960,
 962,
 964,
 966,
 968,
 970,
 972,
 974,
 976,
 978,
 980,
 982,
 984,
 986,
 988,
 990,
 992,
 994,
 996,
 998]

In [6]:
my_list2 = [number for number in range(0, 1000) if number % 2 ==0]
my_list2

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498,
 500,
 502,
 504,
 506,
 508,
 510,
 512,
 514,
 516,
 518,
 520,
 522,
 524,
 526,
 528,
 530,
 532,
 534,
 536,
 538,
 540,
 542,
 544,
 546,
 548,
 550,
 552,
 554,
 556,
 558,
 560,
 562,
 564,
 566,
 568,
 570,
 572,
 574,
 576,
 578,
 580,
 582,
 584,
 586,
 588,
 590,
 592,
 594,
 596,
 598,
 600,
 602,
 604,
 606,
 608,
 610,
 612,
 614,
 616,
 618,
 620,
 622,
 624,
 626,
 628,
 630,
 632,
 634,
 636,
 638,
 640,
 642,
 644,
 646,
 648,
 650,
 652,
 654,
 656,
 658,
 660,
 662,
 664,
 666,
 668,
 670,
 672,
 674,
 676,
 678,
 680,
 682,
 684,
 686,
 688,
 690,
 692,
 694,
 696,
 698,
 700,
 702,
 704,
 706,
 708,
 710,
 712,
 714,
 716,
 718,
 720,
 722,
 724,
 726,
 728,
 730,
 732,
 734,
 736,
 738,
 740,
 742,
 744,
 746,
 748,
 750,
 752,
 754,
 756,
 758,
 760,
 762,
 764,
 766,
 768,
 770,
 772,
 774,
 776,
 778,
 780,
 782,
 784,
 786,
 788,
 790,
 792,
 794,
 796,
 798,
 800,
 802,
 804,
 806,
 808,
 810,
 812,
 814,
 816,
 818,
 820,
 822,
 824,
 826,
 828,
 830,
 832,
 834,
 836,
 838,
 840,
 842,
 844,
 846,
 848,
 850,
 852,
 854,
 856,
 858,
 860,
 862,
 864,
 866,
 868,
 870,
 872,
 874,
 876,
 878,
 880,
 882,
 884,
 886,
 888,
 890,
 892,
 894,
 896,
 898,
 900,
 902,
 904,
 906,
 908,
 910,
 912,
 914,
 916,
 918,
 920,
 922,
 924,
 926,
 928,
 930,
 932,
 934,
 936,
 938,
 940,
 942,
 944,
 946,
 948,
 950,
 952,
 954,
 956,
 958,
 960,
 962,
 964,
 966,
 968,
 970,
 972,
 974,
 976,
 978,
 980,
 982,
 984,
 986,
 988,
 990,
 992,
 994,
 996,
 998]

In [8]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

NameError: name 'permutaions' is not defined

In [1]:
{{# 하이}}

SyntaxError: unexpected EOF while parsing (<ipython-input-1-fc7f29d6d7db>, line 1)

In [1]:
['a', 'b', 'c']+[1,2,3]

['a', 'b', 'c', 1, 2, 3]

In [2]:
type(lambda x: x+1)

function

In [ ]:
import numpy as np