In [13]:
1+1

#shift + enter
#command + s -> save file

2

# Execute  Cell

* shift + enter
* control + enter은 실행 시키되 그 행에 그대로 있음
* 모든 행은 실행시키면 다 실행 시키지만, 마지막 줄만 보여줌
~~~
1+1
2+2
3+3
이면 3+3만 결과가 나옴
~~~

* 셀이 꼭 순서대로 써있을 필요 없음.

In [17]:
x = 5
x + 3

8

# Popular Keyboard Shortcuts

* green -> currently in edit mode(enter)
* blue -> currently in command mode
* help -> h
* x -> cut a cell
* a, b -> add cells above & below

# Import Libraries
* alias -> assign new name to library (optional but standard)
* import matplotlib -> 모든 matplotlib을 import 않고 특정 모듈만 import 가능

~~~
import pandas as pd
import numpy as np
import matplotlib.pyplot as plyt
~~~
* %matplotlib inline : 실행한 바로 그 화면에서 보게 해줌 <br>
<http://korbillgates.tistory.com/85>

In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [25]:
#check 
pd.__version__

'0.20.1'

# Data Types and Variables

In [28]:
# hash tag

"Hello World"

'Hello World'

In [34]:
type("Hello_World") # String
type(-100.32) #float
type(True) #boolean

bool

In [39]:
# Variables
age = (25+75) * 3 / 10
age

30.0

In [42]:
name = 'Boris'
name

'Boris'

In [49]:
age = age + 5

# Lists

In [57]:
[1, 5, 10, 20, 'Blah'] # But try to keep your data type consistent
lucky_numbers = [1, 5, 10, 20]
names= ["Michael", "Freddy", "Jason"]
activated = [True, True, False, False, True]

In [53]:
lucky_numbers

[1, 5, 10, 20]

In [55]:
type(lucky_numbers)

list

In [56]:
len(lucky_numbers)

4

In [61]:
lucky_numbers[0]

1

# Dictionaries

In [70]:
# key: value
#you can have only unique key 
menu = {
    "Filet Mignon": 29.99,
    "Big Mac": 3.99, 
    "Pizza": 29.99,
    "Salmon": 29.99
}

In [73]:
menu['Filet Mignon']
menu['Salmon']

29.99

# Operators

In [74]:
1 + 1

2

In [76]:
10 - 5

5

In [77]:
5 * 3

15

In [79]:
10 / 5

2.0

In [82]:
1 == 2

False

In [83]:
5 != 10

True

In [84]:
5 != 5

False

In [85]:
"Boris" == "Boris"

True

In [88]:
8 <= 5

False

In [89]:
10 > 3

True

In [90]:
10 > 1000

False

In [91]:
10 >= 10

True

# Functions

In [94]:
def convert_to_Fahrenheith(celsiusTemp):
    product = celsiusTemp * 1.8
    final = product + 32
    return final

In [96]:
convert_to_Fahrenheith(35)

95.0